<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <!-- Database connection settings -->
    <session-factory>

        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password1234</property>
        <property name="hbm2ddl.auto">none</property>


        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.cache.use_second_level_cache">org.hibernate.cache.internal.EnabledCaching</property>
        <property name="hibernate.cache.region.factory_class">
            org.hibernate.cache.ehcache.internal.EhcacheRegionFactory
        </property>



        <!-- Specify dialect and show SQL in logs -->
        <property name="hibernate.show_sql">true</property>


        <mapping class="entities.Department"/>
        <mapping class="entities.Manager"/>
        <mapping class="entities.Employee"/>
        <mapping class="entities.Project"/>


    </session-factory>

</hibernate-configuration>
